body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: #293c4b;
}

li {
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
}

.filter-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

p.not-selected {
  cursor: pointer;
  color: #3f87a6;
}

p.selected {
  cursor: auto;
  color: #ccc;
}